# Auto detect text files and perform LF normalization
* text=auto
*.vue linguist-language=vue
backup/** linguist-vendored=true
public/html/life-story.html linguist-vendored=true
src/assets/html/** linguist-vendored=true
