/* Coolors Exported Palette - coolors.co/60463b-856a5d-ccc9e7-6c6f7d-2e3138 */

/* HSL */
$color1: hsla(18%, 24%, 30%, 1);
$color2: hsla(20%, 18%, 44%, 1);
$color3: hsla(246%, 38%, 85%, 1);
$color4: hsla(229%, 7%, 46%, 1);
$color5: hsla(222%, 10%, 20%, 1);

/* RGB */
$color1: rgba(96, 70, 59, 1);
$color2: rgba(133, 106, 93, 1);
$color3: rgba(204, 201, 231, 1);
$color4: rgba(108, 111, 125, 1);
$color5: rgba(46, 49, 56, 1);