/* Coolors Exported Palette - coolors.co/cdb8b9-7b6077-484c60-677189-fce5e5 */

/* HSL */
$color1: hsla(357%, 17%, 76%, 1);
$color2: hsla(309%, 12%, 43%, 1);
$color3: hsla(230%, 14%, 33%, 1);
$color4: hsla(222%, 14%, 47%, 1);
$color5: hsla(0%, 79%, 94%, 1);

/* RGB */
$color1: rgba(205, 184, 185, 1);
$color2: rgba(123, 96, 119, 1);
$color3: rgba(72, 76, 96, 1);
$color4: rgba(103, 113, 137, 1);
$color5: rgba(252, 229, 229, 1);