/* Coolors Exported Palette - coolors.co/ffac81-ff928b-fec3a6-efe9ae-cdeac0 */

/* HSL */
$color1: hsla(20%, 100%, 75%, 1);
$color2: hsla(4%, 100%, 77%, 1);
$color3: hsla(20%, 98%, 82%, 1);
$color4: hsla(54%, 67%, 81%, 1);
$color5: hsla(101%, 50%, 84%, 1);

/* RGB */
$color1: rgba(255, 172, 129, 1);
$color2: rgba(255, 146, 139, 1);
$color3: rgba(254, 195, 166, 1);
$color4: rgba(239, 233, 174, 1);
$color5: rgba(205, 234, 192, 1);