.ac-wrapper {
	width: 100%;
	position: relative;
	perspective: 1000px;
	perspective-origin: 50% 25%;
}

#ac-device {
	width: 320px;
	height: auto;
	margin-left: auto;
  margin-right: auto;
	background: url('/img/work/look-for-ut/iPhone.png') no-repeat;
	background-size: contain;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease;
	transform-style: preserve-3d;
}

#ac-device a {
	width: 275px;
	height: 539px;
	margin: 80px 0 0 22px;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

#ac-device a img {
	display: block;
	position: absolute;
	height: auto;
	width:100%;
	margin: 0;
	transition: all 0.5s ease;
}

#ac-device h3 {
	position: relative;
	margin: 50px 0 20px 0;
	left: auto;
	top: auto;
	width: 100%;
	display: block;
	text-align: center;
}

#ac-device nav {
	position: relative;
	text-align: center;
}

#ac-device nav button{
	position: relative;
	text-align: center;
	margin: 0 10px
}
#ac-grid {
	width: 90%;
	left: 5%;
	background-color: rgba(196,196,196,0.43);
	position: absolute;
	z-index: 1000;
	top: 10px;
	opacity: 0;
	text-align: center;
	pointer-events: none;
	transform-style: preserve-3d;
	transition: all 0.3s ease;
	transform: translateZ(-350px);
}
#ac-grid a {
	width: 120px;
	display: inline-block;
	position: relative;
	margin: 10px 5px;
	cursor: pointer;
}

#ac-grid a img {
	display: block;
	width: 100%;
}

#ac-grid a span {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	padding: 3em 1em 0;
	z-index: 100;
	color: #ddd;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	transform: translateY(-5px);
	transition: all 0.2s ease;
}

#ac-grid a:hover span {
	opacity: 1;
	transform: translateY(0);
}

#ac-wrapper.ac-gridview #ac-device {
	transform: translateZ(-350px);
	opacity: .6;
}

#ac-wrapper.ac-gridview #ac-grid {
	transform: translateZ(0px);
	opacity: 1;
	pointer-events: auto;
}


#ac-grid img{
	transition: all 0.5s ease
}

@media (max-width:599px) {

	#ac-grid a {
		width: 100px;

		}

	#ac-device nav {
		position: absolute;
		left: 0%;
		top:100%;
		width: 100%;
		text-align: center;
	}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	#ac-grid a {
		width: 150px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	#ac-grid a {
		width: 150px;
	}
}
